@{
    ViewData["Title"] = "Thông tin cá nhân";
}

<h1>Thông tin cá nhân sinh viên dự thi</h1>

<ul>
    <li><b>Họ và tên:</b> Bùi Huy Phú</li>
    <li><b>Mã sinh viên:</b> 231230867</li>
    <li><b>Lớp:</b> CNTT K64</li>
    <li><b>Môn thi:</b> Lập trình Web</li>
    <li><b>Giảng viên hướng dẫn:</b> ... (bạn điền tên GV nếu cần)</li>
</ul>
