@model BuiHuyPhu_231230867_de02.Models.BhpCatalog

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BhpCatalog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HvtId" />
            <div class="form-group">
                <label asp-for="HvtCateName" class="control-label"></label>
                <input asp-for="HvtCateName" class="form-control" />
                <span asp-validation-for="HvtCateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HvtCatePrice" class="control-label"></label>
                <input asp-for="HvtCatePrice" class="form-control" />
                <span asp-validation-for="HvtCatePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HvtCateQty" class="control-label"></label>
                <input asp-for="HvtCateQty" class="form-control" />
                <span asp-validation-for="HvtCateQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HvtPicture" class="control-label"></label>
                <input asp-for="HvtPicture" class="form-control" />
                <span asp-validation-for="HvtPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HvtCateActive" class="control-label"></label>
                <input asp-for="HvtCateActive" class="form-control" />
                <span asp-validation-for="HvtCateActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="bhpIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
